@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.branches-grid {
  display: grid !important;
  grid-template-columns: 1fr !important;
  gap: 2rem !important;
}

@media (min-width: 640px) {
  .branches-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.ct-top-menu-item {
  @apply text-black cursor-pointer py-1 transition-colors hover:text-red-600 relative after:transition-all after:absolute after:bottom-0 after:left-0 after:bg-red-600 after:h-0.5 after:w-0 hover:after:w-full after:ease-in-out  after:duration-500;
}

.ct-link {
  @apply hover:text-red-600;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b82f6; /* màu xanh như ảnh bạn chụp */
  
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  z-index: 20 !important;
}

.swiper-button-next {
  right:-20px;
  animation: bounceRight 1.2s infinite;
}
.swiper-button-prev {
  left: -20px;
  animation: bounceLeft 1.2s infinite;
}

@keyframes bounceRight {
  0%, 100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(5px);
  }
}

@keyframes bounceLeft {
  0%, 100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(-5px);
  }
}

