@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4e4f50;
  text-decoration: inherit;
}
a:hover {
  color: #1b1b1b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ct-top-menu-item {
  @apply text-black cursor-pointer py-1 transition-colors hover:text-red-600 relative after:transition-all after:absolute after:bottom-0 after:left-0 after:bg-red-600 after:h-0.5 after:w-0 hover:after:w-full after:ease-in-out  after:duration-500;
}

.ct-link {
  @apply hover:text-red-600;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3b82f6; /* màu xanh như ảnh bạn chụp */
  
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  z-index: 20 !important;
}

.swiper-button-next {
  right:-20px;
  animation: bounceRight 1.2s infinite;
}
.swiper-button-prev {
  left: -20px;
  animation: bounceLeft 1.2s infinite;
}

@keyframes bounceRight {
  0%, 100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(5px);
  }
}

@keyframes bounceLeft {
  0%, 100% {
    transform: translateY(-50%) translateX(0);
  }
  50% {
    transform: translateY(-50%) translateX(-5px);
  }
}

